<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PingMonitorWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PingMonitorWPF.Properties.Settings>
            <setting name="WinTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WinLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WinWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WinHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WinState" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeframeWidhtIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DelayTime" serializeAs="String">
                <value>0</value>
            </setting>
        </PingMonitorWPF.Properties.Settings>
    </userSettings>
</configuration>